:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #141619;
  background-color: #FFFFFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  color: #FFFFFF;
  background-color: #141619;
}

a {
  font-weight: 500;
  color: #4d79ff;
  text-decoration: inherit;
}
a:hover {
  color: #2C2E3A;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4d79ff;
  color: #FFFFFF;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: #2C2E3A;
  background-color: #2C2E3A;
}
button:focus,
button:focus-visible {
  outline: 4px auto #4d79ff;
}

.markdown-content {
  font-size: 16px;
  color: #141619;
  line-height: 1.6;
}
[data-theme="dark"] .markdown-content {
  color: #FFFFFF;
}

.markdown-content strong {
  font-weight: 700;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  font-weight: 600;
  margin: 1rem 0 0.5rem;
}

.markdown-content h1 { font-size: 1.8em; }
.markdown-content h2 { font-size: 1.6em; }
.markdown-content h3 { font-size: 1.4em; }
.markdown-content h4 { font-size: 1.2em; }
.markdown-content h5 { font-size: 1.1em; }
.markdown-content h6 { font-size: 1em; }

.markdown-content ul,
.markdown-content ol {
  padding-left: 25px;
  margin-bottom: 1rem;
}

.markdown-content li {
  margin-bottom: 0.5rem;
  list-style-type: disc;
}
.markdown-content ol li {
  list-style-type: decimal;
}

.markdown-content p {
  margin-bottom: 1rem;
}